:root {
  position:absolute;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #DCD7C9; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

header h1 {
  
  display: inline;
}
header img {
  margin-top: 20px;
  display: inline;
}
header a {
  color:rgba(255, 255, 255, 0.87);
  text-decoration: none;
}


.email-contact {
  text-align: center;
}

.letter {
  font-size:6vw;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  
}
.ml7 {
  position: relative;
  text-align: center;
  font-weight: 900;
  font-size: 3.7em;
}
.ml7 .text-wrapper {

  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}
.ml7 .letter {
  transform-origin: 0 100%;
  display: inline-block;
  line-height: 1em;
}


.wrapper {
  
    text-align: center;
}
.wrapper ul {
  
    display: inline-block;
    margin: 0;
    padding: 0;
    /* For IE, the outcast */
    zoom:1;
    *display: inline;
}

.wrapper a {
  width: 33.33%;
  color: #A27B5C;
  text-decoration: none;
  font-size: 30px;
}

.wrapper li {
  margin-left: 10px;
    float: left;
    padding: 2px 5px;
    
}

.wrapper ul {
  
  list-style: none
}

.wrapper a:hover {
  border-radius :10px;
  background-color: #2C3639;
  
  

}
.title_name h1 {
  text-shadow: 2px 2px 4px #000000;
  font-family:Caveat;
}
body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

button {
  padding: 0;
border: none;
background: none;
}

.dark-mode {
  background-color: #DCD7C9;

}




.typing-container {
  font-size:3vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-cursor {
  display: inline-block;
  width: 2px;
  height: 3vw;
  background-color: white;
  margin-left: 8px;
  animation: blink .6s linear infinite alternate;
}
@keyframes blink {
  0% {opacity: 1;}
  40% {opacity: 1;}
  60% {opacity: 0;}
  100% {opacity: 0;}
}


@media (prefers-color-scheme: dark) {
  body {
    background-color: #3f4e4f;
  }
  
}



.name {
  display: flex;
  /* height: 100vh; */
  justify-content: center;
  align-items: center;
}

h2 {
  max-width: 75%;
  font-size: 100px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #540032;
}

.name-title {
  background-image: url(https://cdn.pixabay.com/photo/2017/07/03/20/17/abstract-2468874_960_720.jpg);
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.Mycanvas {
  height: 50px;
}